* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
}
.route-slider-container{
  display: flex;
  width: 100%;
}
.route-slide{
  position: relative;
      flex: 1;
      height: 500px;
      transition: all 0.3s linear;
      cursor: pointer;
      box-shadow: 0px 0px 0px 4000px rgba(27, 61, 88, 0.5) inset;
      text-align: center;
      -webkit-box-shadow: 0px 5px 11px 5px rgba(0,0,0,0.63); 
box-shadow: 0px 5px 11px 5px rgba(0,0,0,0.63);
}
.route-slide:hover{
  box-shadow: 0px 0px 0px 4000px rgba(27, 61, 88, 0.3) inset;
  flex-grow: 8;
  -webkit-box-shadow: 5px 5px 42px 19px rgba(0,0,0,0.63); 
box-shadow: 5px 5px 42px 19px rgba(0,0,0,0.63);
}

.route-slide h1{
  display: inline-block;
  float: right;
  padding: 10px;
  background-color: #262626;
  color: #eee;
  font-size:1.5vw;  
  font-family: 'Fredoka One', cursive;
}
.route-slide h2{
  clear: both;
  text-align: center;
  padding: 10px;
  color:#eee;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  display: none;
  background-color: #26262699;
}
.route-slide h3{
  clear: both;
  text-align: center;
  padding: 10px;
  color:#eee;
  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  display: none;
  
}
.route-slide button{
  clear: both;
  text-align: center;
  padding: 10px;
  color:#262626;
  width: 150px;
  margin: 100px auto;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  display: none;
  border: 4px solid #eee;
  border-radius:6px;
  outline: none;
  font-weight: 600;
}
.route-slide button:hover{
  background-color: #262626;
  border: 4px solid #eee;
  color:#eee;

}



.route-slide1{
  background-color: red;
  background: url('images/ABC.jpg');
  background-size: cover;
  background-position: center;
}

.route-slide2{
  background-color:teal;
  background: url('images/everest.jpg');
  background-size: cover;
  background-position: center;
}
.route-slide3{
  background-color:tomato;
  background: url('images/mardi.jpg');
  background-size: cover;
  background-position: center;
}
.route-slide4{
  background-color:green;
  background: url('images/mustang.jpg');
  background-size: cover;
  background-position: center;
}